html{
    background-color: darkgray;
}
.nav{
    min-height: 42px;
    background-color: #ef5122;
    display: flex;
    justify-content: space-between;
}
.nav-list{
    padding-left: 0;
    margin: auto 16px;
}
.nav-item{
    color: #fff;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}
.form-container{
    max-width: 1000px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: #fff;
}
.form_row{
    padding: 8px 0;
    display: flex;
}
.form_label{
    min-width: 90px;
}
.form_input{
    flex: 1;
}
.column-layout{
    background-color: #fff;
    margin: 36px auto 0 auto;
    display: flex;
}

.column-item{
    padding: 0 16px;
}
.sidebar-one{
    flex: 1;
}
.sidebar-two{
    flex: 1;
}
.main-column{
    flex: 3;
}