html{
    background-color: darkgray;
}
.nav{
    min-height: 42px;
    background-color: #ef5122;
    display: flex;
    justify-content: space-between;
}
.nav-list{
    padding-left: 0;
    margin: auto 16px;
}
.nav-item{
    color: #fff;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}
.form-container{
    max-width: 1000px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: #fff;
}
.form_row{
    padding: 8px 0;
    display: flex;
}
.form_label{
    min-width: 90px;
}
.form_input{
    flex: 1;
}
.column-layout{
    background-color: #fff;
    margin: 36px auto 0 auto;
    display: flex;
}

.column-item{
    padding: 0 16px;
}
.sidebar-one{
    flex: 1;
}
.sidebar-two{
    flex: 1;
}
.main-column{
    flex: 3;
}
.feature-layout{
    margin-top: 36px ;
    display: flex;
    justify-content: space-around;
    
}
.feature-item{
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
}
.feature-item:nth-child(1){
    background-color: rgb(192, 227, 199);
}
.feature-item:nth-child(2){
    background-color: chocolate;
}
.feature-item:nth-child(3){
    background-color: crimson;
}
.wrap-layout{
    background-color: #fff;
    margin-top: 36px;
    display: flex;
    padding: 12px 0 32px 0;
    justify-content: space-around;
    flex-wrap: wrap;
}
.wrap-layout__item{
    width: 160px;
    height: 90px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    margin-top: 20px;
    font-size: 48px;
    font-weight: 700px;
    background-color: #ef5122;
}